# The period in seconds at which the application will query the Skip API and execute the transaction.
EXECUTE_PERIOD=3

# The address of the CosmWasm contract on the Neutron chain to interact with.
CONTRACT_ADDRESS="neutron1w798gp0zqv3s9hjl3jlnwxtwhykga6rn93p46q2crsdqhaj3y4gsum0096"

# The RPC endpoint for the Neutron chain.
GRPC_ADDRESS="https://rpc.neutron.quokkastake.io"
GRPC_PORT="9090"

# The mnemonic for the wallet that will be used to execute transactions.
# IMPORTANT: Use a dedicated, non-primary wallet for this.
MNEMONIC="stamp walnut alarm response kidney possible crack mass rent screen summer drastic junior spatial forest analyst prize insane okay unfair screen liar match blanket"

# The denom of the token to be transferred.
DENOM="ibc/0E293A7622DC9A6439DB60E6D234B5AF446962E27CA3AB44D0590603DFF6968E"

# A multiplier for the estimated route duration to calculate the final timeout.
EUREKA_FULL_TIMEOUT_MULTIPLIER=10

# Log level (e.g., info, debug, error)
RUST_LOG="debug"